* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

// article {
//     display: flex;
// }

section p {
  background-color: #f99;
  font-size: 2em;
  text-transform: uppercase;
  // display: inline-block;
}

// display flex and grid
section,
figure {
  padding: 10px;
//   overflow: scroll;
  border: 3px solid;
  margin: 50px auto;
  width: 90%;
//   height: 80%;
  display: flex;
  gap: 3px;
  // by default flex direction is horizontal
  flex-direction: row;

  // flex-start or start
  // flex-end or end
  // start end and center
  // space between , space around and space evenly
  //   justify-content: space-evenly;
  justify-content: start;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
